[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyppeteer = {editable = true,git = "https://github.com/miyakogi/pyppeteer.git",ref = "dev"}
nodeenv = "*"
configobj = "*"
easyprocess = "*"
xvfbwrapper = "*"
pyvirtualdisplay = "*"
quart = "*"
lxml = "*"
aiohttp = "*"
websockets = "==9.1"

[requires]
python_version = "3.7"
